**/logs
**/target
**/.dist/*
**/bin

**/*.log
**/*.iml
.java-version

mysql_volume
mysql_volume/*

.idea/*
/.idea/*
!/.idea/codeStyles/
!/.idea/copyright/
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!.idea/runConfigurations/*
!/.idea/scopes/
#!/.idea/codeStyleSettings.xml
#!/.idea/compiler.xml
#!/.idea/encodings.xml
